@charset "utf-8";

.v-container {
    &.dashBoard{
        padding: 0;
    }

}
.popup {
    &.theme-popup-light {
        .v-card {
            .board_tabs{
                width: 100%;
                height: 36px;
                padding: 0 20px;
                list-style: none;
                display: flex;
                flex-wrap: nowrap;
                &.one{
                    .item{
                        width: 100%;
                        &:last-child{
                            border-right: 1px solid #d6dbe2;
                        }
                    }
                }
                &.two{
                    .item{
                        width: 50%;
                        &:last-child{
                            border-right: 1px solid #d6dbe2;
                        }
                    }
                }
                &.three{
                    .item{
                        width: 33.3%;
                        &:last-child{
                            border-right: 1px solid #d6dbe2;
                        }
                    }
                }
                &.four{
                    .item{
                        width: 25%;
                        &:last-child{
                            border-right: 1px solid #d6dbe2;
                        }
                    }
                }
                .v-btn {
                    width: 100%;
                    font-size: 14px;
                    color: #2c2f35;
                    border-top: 1px solid #d6dbe2;
                    border-left: 1px solid #d6dbe2;
                    border-bottom: 1px solid #d6dbe2;
                    border-right: 0 !important;
                    border-radius: 0 !important;
                    background-color: transparent;
                    &:last-child{
                        border-right: 1px solid #d6dbe2;
                    }
                    &.active{
                        border-bottom: 1px solid #fff;
                        background-color: #fff;
                        color: #fc6060;                
                    }
                }
            }
            .pop-contents{
              padding: 0 21px 0 20px;

              
            }
            .board_panel{
                background-color: #fff;
                border-right: 1px solid #d6dbe2;
                border-left: 1px solid #d6dbe2;
                border-bottom: 1px solid #d6dbe2;
                .field-set{
                    .field-title-area{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .field-title2{
                        padding-top: 3px;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    }
                    
                    .input-color-counter{
                    font-size: 20px;
                    font-weight: 700;
                    color: #fff;
                    height: 32px;
                    text-align: center;
                    &.blue{
                        background-color: #5c86f1;
                    }
                    &.purple{
                        background-color: #7868e5;
                    }
                    }
                    .v-input--density-default {
                        --v-input-control-height: 24px;
                    }
                    .v-switch--inset{
                    .v-switch__track {
                        width: 68px;
                        background: #fff;
                        border:1px solid #d6dbe2;
                        opacity: 1;
                    }
                    .v-switch__thumb{
                        display: none;
                    }
                    }
                    .v-switch {
                    position: relative;
                    .v-selection-control__input{
                        background: #fc6060;
                        width: 38px;
                        border-radius: 12px;
                        height: 26px;
                        transform: translateX(-16px);
                    }
                    .v-selection-control--dirty{
                        .v-selection-control__input {
                        transform: translateX(16px);
                        }
                    } 
                    }
                    .switch-label{
                        width: 68px;
                        position: absolute;
                        display: flex;
                        flex-direction: 1;
                        flex-wrap: nowrap;
                        top: 12px;
                        .item{
                        width: 34px;
                        text-align: center;
                        font-size: 10px;
                        color: #fff;
                        cursor: pointer;
                        }
                    }
                    .v-input__control {
                        height: 28px;
                    }
                    .v-checkbox {
                        .v-selection-control {
                        min-height: 28px;
                        }
                    }
                    .font18{
                        font-size: 18px;
                        font-weight: bold;
                        color: #2c2f35;
                    }
                    .room-type{
                        display: inline-block;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 1px 10px 3px;
                        color: #fff;
                        &.purple{
                        background-color: #7868e5;
                        }
                    }
                    .room-time{
                        background-color: #fff;
                        border:1px solid #d6dbe2;
                        border-radius: 20px;
                        padding: 3px 14px 5px;
                        font-size: 12px;
                        color: #2c2f35;
                        text-align: center;
                        display: inline-block;
                        &.add{
                        color: #fc6060;  ;
                        }
                    }

                }
                .subscribe-card{
                    display: block;
                    border: 0;
                    background-color: #fff;
                    width: 343px;
                    .title-area{
                        display: flex;
                        height: 24PX;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        flex: 1;
                        .title{
                            font-size: 14px;
                            color: #2c2f35;
                            line-height: 1.6;
                        }
                        .btn-area{
                            .sub-title{
                                font-size: 12px;
                                color: #2c2f35;
                            }
                            .btn{
                                height: 24px;
                                border-radius: 16px;
                            }
                        }
                    }
                    .img-area{
                        display: block;
                        width: 343px;
                        height: 215px;
                        background-color: #eff2f4;
                        font-size: 18px;
                        line-height: 24px;
                        color: #2c2f35;
                        text-align: center;
                        padding-top: 78px;
                    }
                }
            }
        }
    }
}

.v-table {
    &.sm{
        table {
            th,
            td {
              height: 32px !important;
            }

        }
    }
    &.no-border{
        width: 100%;
        table{
            border: 0;
        }
        tr{
            &:not(:last-child){
                >td{
                border-bottom: 0 !important;
                }
            }
        }
        td {
            vertical-align: baseline;
            &.right{
                text-align: right;
            }
            border: 0;
            height: auto !important;
            padding: 5px 0 !important;
            > span {
                width: 100%;
                height: auto !important;
                &.gray{
                    width: 100%;
                    color: #aaa;
                    padding-right: 10px;
                }
                &.point{
                    border-radius: 16px;
                    padding: 1px 7px 3px;
                    color: #fc6060;
                    border: 1px solid #fc6060;
                }
            
            }
            > div{
                display: block;
                .new{display: inline-block;
                    background-color: #fc6060;
                    padding: 0 5px;
                    font-size: 12px;
                    font-weight: bold;
                    color: #fff;
                    border-radius: 2px;
                    margin-left: 10px;
                }
            }
            > div + div{
                margin-top: 5px;
            }
        }
        tbody {
            tr:hover {
            td {
                background-color: #eff2f4;
            }
            }
            tr.active {
            td {
                background-color: #dbe3ee;
            }
            }
            tr.newapp {
                td {
                    background-color: #fbf6c7;
                }
            }
        }
    }
}
// v-select
.v-select {
    &.board{
        max-width: 140px;
        
        .v-field__overlay {
            background-color: #fff !important;
            border: none !important;
          }
          .v-input__control {
            height: 38px;
          }
          .v-field__field {
            height: 38px;
          }
          .v-field {
            border-radius: 0;
            border: 1px solid #d6dbe2;
            background-color: #fff !important;
            height: 38px;
            line-height: 28px;
            &:focus {
              outline: none;
            }
            .v-field__outline {
              display: none;
            }
          }
    }
}
.input-search {
    &.board{
        width: 340px;
        background-color: #fff;
        border: 1px solid #d6dbe2;
        padding: 4px;
        height: 38px;
        display: flex;
        align-items: center;
        gap: 8px;
        .v-btn {
        flex-shrink: 0;
        color: #3c4d60;
        }
        input {
        padding-left: 6px;
        width: 100%;
        flex: 1;
        text-align: left;
        &:focus {
            outline: none;
        }
        }
    }
}
.page-navigation{
    margin-top: 12px;
    .v-btn--icon{
        .v-btn--density-default {
            width: calc(var(--v-btn-height) + -2px) !important;
            height: calc(var(--v-btn-height) + -2px) !important;
        }
    }
    .v-pagination__item--is-active{ 
        .v-btn__overlay {
            background-color: #3c4d60 !important;
            border-radius: 0 !important;
            width: 20px !important;
            height: 20px !important;
        }
        
    }
    .v-btn__overlay, .v-btn__underlay{
        width: 20px !important;
        height: 20px !important;
        top: 7px !important;
        left: 0px !important;
        border-radius: 0 !important;
        
    }
    .v-pagination__item, .v-pagination__first, .v-pagination__prev, .v-pagination__next, .v-pagination__last{
        width: 20px !important;
        height: 20px !important;
        margin: 0.1rem;
    }
    .v-ripple__container{
        width: 20px !important;
        height: 20px !important;
        border-radius: 0 !important;
        top: 14px !important;
        left: 0px !important;
    }
}
.bbs-contents{
    height: 480px;
    border: 1px solid #d6dbe2;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
    font-size: 14px;
    color: #2c2f35;
    line-height: 1.8;
    img{
        width: auto;
        height: auto;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
.bbs-reply{
    position: relative;
    height: 80px;
    .reply-title{
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: 14px;
        padding: 21px 17px;
        border: 1px solid #d6dbe2;
        background-color: #eff2f4;
        color: #2c2f35;
        border-radius: 3px;
    }
    .reply{
        border: 1px solid #d6dbe2;
        background-color: #fff;
        font-size: 14px;
        color: #2c2f35;
        line-height: 1.4;
        height: 80px;
        width: 100%;
        padding: 10px 100px 10px 80px;
        resize: none;
    }
    .reply-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        height: 50px;
        border-radius: 3px;
        width: 80px;
        padding: 0 22px 4px;
    }
}
.link-text{
    color: #2c2f35;
    font-size: 14px;
    text-decoration: none;
    :hover, :active,:focus {
        text-decoration: underline;
    }
}
.sm-font12{
    font-size: 12px;
    line-height: 1.7;
    color: #aaa;
}
