@charset "utf-8";

// font color 임시
.color-primary {
  color: $g-primary !important;
}
.color-secondary {
  color: $g-secondary !important;
}
.title {
  font-size: 18px;
  font-weight: 700;
}
.title-sub {
  font-size: 14px;
  font-weight: 700;
}
.body-1 {
  font-size: 14px;
  font-weight: 400;
}
.bbs-title {
  background-color: $g-dark-navy;
  height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  color: #fff;
  .text {
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
  }
}

.field-set {
  border: none;
  font-weight: 400;
  & + .field-set {
    margin-top: 16px;
  }
  .field-title {
    font-size: 12px;
    font-weight: 500;
  }
  .field-box {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    border: 1px solid #d6dbe2;
    > * {
      flex-grow: 0;
    }
    .v-checkbox + .v-checkbox,
    .v-radio + .v-radio {
      margin-left: 16px;
    }
    .label {
      padding-right: 8px;
    }
    .field {
      display: flex;
      align-items: center;
    }
  }
  .v-select {
    .v-field__overlay {
      background-color: #f9f9f9 !important;
      border: none !important;
    }
    .v-input__control {
      height: 28px;
    }
    .v-field__field {
      height: 28px;
    }
    .v-field {
      border-radius: 0;
      border: 1px solid #d6dbe2;
      height: 28px;
      &:focus {
        outline: none;
      }
      .v-field__outline {
        display: none;
      }
    }
    .v-field__input {
      padding: 0;
      margin: 0;
      height: 28px;
      font-size: 12px !important;
      input {
        padding: 0;
        padding-left: 10px;
        font-size: 12px !important;
      }
    }
    .v-select__selection {
      width: auto;
      margin: 0; 
      padding: 0;
      padding-left: 10px;
      font-size: 12px !important;
      height: 28px;
    }
  }
}

.v-checkbox {
  .v-label {
    font-size: 12px !important;
    color: #2c2f35 !important;
  }
}

.v-radio {
  .v-label {
    font-size: 12px !important;
    color: #2c2f35 !important;
  }
}

.input {
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #d6dbe2;
  height: 28px;
  color: #2c2f35;
  padding: 0 10px;
  vertical-align: middle;
  &:focus {
    outline: none;
  }
}

.input-search {
  background-color: #f9f9f9;
  border: 1px solid #d6dbe2;
  padding: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  .v-btn {
    flex-shrink: 0;
    color: #3c4d60;
  }
  input {
    padding-left: 6px;
    width: 100%;
    flex: 1;
    text-align: left;
    &:focus {
      outline: none;
    }
  }
}

.input-counter {
  border: 1px solid #d6dbe2;
  padding: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  .v-btn {
    flex-shrink: 0;
  }
  input {
    width: 100%;
    flex: 1;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
}