@charset "utf-8";

.v-container {
    &.roomBoard{
        padding: 0;
    }
}
.popup {
    &.theme-popup-dark {
        .v-card {
          .v-card-title {
            background-color: $g-darknavy;
            height: 60px;
            .title {
              color: #fff;
            }
          }
        }
      }
}
