@charset "utf-8";

.v-container {
    &.roomBoard{
        padding: 0;
    }
}
.popup {
    &.theme-popup-dark {
        .v-card {
          .v-card-title {
            background-color: $g-darknavy;
            height: 60px;
            .title {
              color: #fff;
            }
          }
        }
      }
}
.room-btn-area{
    .v-btn__append {
       margin: 0 !important;
    }
    .v-btn__prepend {
        margin: 0 !important;
     }
}
.btn-status-change{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #d6dbe2;
    padding: 8px;
    
}
.check-btns {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 60px !important;
    .v-btn { 
      width: 12.5% !important;
      height: auto;
      font-size: 14px !important;
      font-weight: bold;
      color: #2c2f35 !important;
      background-color: #f9f9f9;
      border: 1px solid #bebfc0;
      &.v-btn--active {
        background-color: $g-secondary !important;
        color: #fff !important;
      }
    }
  }
.table-daypicker{
    position: relative;
    input{
        height: 28px;
    }
    .dp__outer_menu_wrap{
        position: fixed;
        top: 290px;
        z-index: 100;
    }
}
.div-daypicker{
    input{
        height: 28px !important;
    }
}
.bullet-text{
    display: block;
    position: relative;
    font-size: 12px;
    &::before{
        width: 4px;
        height: 4px;
        background: #fc6060; 
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 8px;
        content: "";
    }
}
.field-set .field-check-group{
    background-color: #fff;
    padding: 3px 10px 0;
    height: auto;
    border: 1px solid #d6dbe2;
    .check-group{
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        align-items: center;
        & > *{
            flex-grow: 0;
            margin-right: 12px;
        }
    }
}
.table-check-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    & > *{
        flex-grow: 0;
    }
}
.sales_status{
    display: flex;
    justify-content: space-between;
    gap: 8;

    .status_wrap{
        width: 293px;
        height: auto;

        .banner-title{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 60px;
            border-radius: 3px;
            padding: 16px 30px;
            .header-title{
                font-size: 18px;
                font-weight: bold;
                color: #fff;
            }
            .icon{

            }
            &.bg_type1{
                background-color: #fc6060;
    
            }
            &.bg_type2{
                background-color: #2680eb;
    
            }
            &.bg_type3{
                background-color: #7868e5;
    
            }
        }
        .form-card{
            margin-top: 10px;
            padding: 12px;
            width: 100%;
            height: auto;
            background-color: #fff;
            border: 1px solid #d6dbe2;
            .card-item{
                width: 100%;
                background-color: #eff2f4;
                border-radius: 3px;
                padding: 12px 18px;
                .item-area-type1{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-height: 40px;
                    .title{
                        font-size: 18px;
                        font-weight: bold;
                        color: #2c2f35;
                    }
                    .sub-title{
                        display: flex;
                        align-items: center;
                        .name{
                            color: #2c2f35;
                            font-size: 13px;
                            font-weight: normal;
                            margin-right: 32px;
                        }
                        .num{
                            font-size: 22px;
                            font-weight: bold;
                            color: #017acd;
                        }
                    }
                }
                .item-hr{
                    width: 100%;
                    height: 1px;
                    background-color: #cdd1d8;
                    margin: 12px 0;
                }
                .item-hr2{
                    width: 100%;
                    height: 1px;
                    background-color: #cdd1d8;
                    margin: 8px 0;
                }
                .item-area-type2{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .room-type{
                        font-size: 13px;
                        color:#2c2f35;
                        .bold{
                            font-weight: bold;
                        }
                        .point-text1{
                            color: #fc6060;
                        }
                        .point-text2{
                            color: #52ace0;
                        }
                        .point-text3{
                            color: #16d2c3;
                        }
                        .point-text4{
                            color: #fc2020;
                        }
                        .point-text5{
                            color: #f8a659;
                        }
                    }
                    .time{
                        color: #7e7e7e;
                        font-size: 12px;
                    }
                }
                .item-area-type{
                    .item-section{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 13px;
                        color:#2c2f35;
                        .bold{
                            font-weight: bold;
                        }
                        .point-text1{
                            color: #fc6060;
                        }
                        .point-text2{
                            color: #52ace0;
                        }
                        .point-text3{
                            color: #16d2c3;
                        }
                        .point-text4{
                            color: #fc2020;
                        }
                        .point-text5{
                            color: #f8a659;
                        }
                    }
                }
            }
        }


    }

   
}
.v-table {
    &.sm{
        table {
            th,
            td {
              height: 32px !important;
            }

        }
    }
    &.no-border{
        width: 100%;
        table{
            border: 0;
        }
        tr{
            &:not(:last-child){
                >td{
                border-bottom: 0 !important;
                }
            }
        }
        th{
            position: sticky; top: 0; z-index: 1;
        }
        td {
            vertical-align: baseline;
            &.right{
                text-align: right;
            }
            border: 0;
            height: auto !important;
            padding: 5px 0 !important;
            > span {
                width: 100%;
                height: auto !important;
                &.gray{
                    width: 100%;
                    color: #aaa;
                    padding-right: 10px;
                }
                &.point{
                    display: block;
                    border-radius: 16px;
                    padding: 1px 7px 3px;
                    color: #fc6060;
                    border: 1px solid #fc6060;
                    font-size: 11px;
                    max-width: 42px;
                }
                &.icon-type01{
                    text-align: center;
                    display: block;
                    border-radius: 16px;
                    padding: 1px 7px 3px;
                    background-color: #5e7892;
                    color: #fff;
                    font-size: 11px;
                    max-width: 42px;
                    margin: 0 auto;
                }
                &.icon-type02{
                    display: block;
                    text-align: center;
                    border-radius: 16px;
                    padding: 1px 7px 3px;
                    background-color: #ffaa00;
                    color: #fff;
                    font-size: 11px;
                    max-width: 42px;
                    margin: 0 auto;
                }
                &.icon-type03{
                    display: block;
                    text-align: center;
                    border-radius: 16px;
                    padding: 1px 7px 3px;
                    background-color: #fc6060;
                    color: #fff;
                    font-size: 11px;
                    max-width: 42px;
                    margin: 0 auto;
                }
                &.icon-type04{
                    display: block;
                    text-align: center;
                    border-radius: 16px;
                    padding: 1px 5px 3px;
                    background-color: #2680eb;
                    color: #fff;
                    font-size: 11px;
                    max-width: 42px;
                    letter-spacing: 0.8;
                    margin: 0 auto;
                }
                &.icon-type05{
                    display: block;
                    text-align: center;
                    border-radius: 16px;
                    padding: 1px 7px 3px;
                    background-color: #52ace0;
                    color: #fff;
                    font-size: 11px;
                    max-width: 42px;
                    letter-spacing: 0.8;
                    margin: 0 auto;
                }            
            }
            > div{
                display: block;
                .new{display: inline-block;
                    background-color: #fc6060;
                    padding: 0 5px;
                    font-size: 12px;
                    font-weight: bold;
                    color: #fff;
                    border-radius: 2px;
                    margin-left: 10px;
                }
                .end{display: inline-block;
                    background-color:#52ace0;
                    padding: 0 7px;
                    font-size: 11px;
                    color: #fff;
                    border-radius: 2px;
                    margin-left: 10px;
                }
            }
            > div + div{
                margin-top: 5px;
            }
        }
        tbody {
            &.type2{
                span{
                    margin: 0 auto;
                }
                td{
                    padding: 8px 0  8px 4px!important;
                    margin: 0 auto;
                    text-align: center;
                    div{
                        text-align: left;
                        padding-left: 10px;
                    }
                }
                div{

                }
            }
            tr:hover {
            td {
                background-color: #eff2f4;
            }
            }
            tr.active {
            td {
                background-color: #dbe3ee;
            }
            }
            tr.newapp {
                td {
                    background-color: #fbf6c7;
                }
            }
        }
    }
    
}

