@charset "utf-8";

.v-container {
    &.roomBoard{
        padding: 0;
    }
}
.popup {
    &.theme-popup-dark {
        .v-card {
          .v-card-title {
            background-color: $g-darknavy;
            height: 60px;
            .title {
              color: #fff;
            }
          }
        }
      }
}
.room-btn-area{
    .v-btn__append {
       margin: 0 !important;
    }
    .v-btn__prepend {
        margin: 0 !important;
     }
}
.btn-status-change{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #d6dbe2;
    padding: 8px;
    
}
.check-btns {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 60px !important;
    .v-btn { 
      width: 12.5% !important;
      height: auto;
      font-size: 14px !important;
      font-weight: bold;
      color: #2c2f35 !important;
      background-color: #f9f9f9;
      border: 1px solid #bebfc0;
      &.v-btn--active {
        background-color: $g-secondary !important;
        color: #fff !important;
      }
    }
  }
.table-daypicker{
    position: relative;
    input{
        height: 28px;
    }
    .dp__outer_menu_wrap{
        position: fixed;
        top: 290px;
        z-index: 100;
    }
}
.div-daypicker{
    input{
        height: 28px !important;
    }
}
.bullet-text{
    display: block;
    position: relative;
    font-size: 12px;
    &::before{
        width: 4px;
        height: 4px;
        background: #fc6060; 
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 8px;
        content: "";
    }
}
.field-set .field-check-group{
    background-color: #fff;
    padding: 3px 10px 0;
    height: auto;
    border: 1px solid #d6dbe2;
    .check-group{
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        align-items: center;
        & > *{
            flex-grow: 0;
            margin-right: 12px;
        }
    }
}
.table-check-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    & > *{
        flex-grow: 0;
    }
}
.sales_status{
    display: flex;
    justify-content: space-between;
    gap: 8;

    .status_wrap{
        width: 293px;
        height: auto;

        .banner-title{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 60px;
            border-radius: 3px;
            padding: 16px 30px;
            .header-title{
                font-size: 18px;
                font-weight: bold;
                color: #fff;
            }
            .icon{

            }
            &.bg_type1{
                background-color: #fc6060;
    
            }
            &.bg_type2{
                background-color: #2680eb;
    
            }
            &.bg_type3{
                background-color: #7868e5;
    
            }
        }
        .form-card{
            margin-top: 10px;
            padding: 12px;
            width: 100%;
            height: auto;
            background-color: #fff;
            border: 1px solid #d6dbe2;
            .card-item{
                width: 100%;
                background-color: #eff2f4;
                border-radius: 3px;
                padding: 12px 18px;
                .item-area-type1{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-height: 40px;
                    .title{
                        font-size: 18px;
                        font-weight: bold;
                        color: #2c2f35;
                    }
                    .sub-title{
                        display: flex;
                        align-items: center;
                        .name{
                            color: #2c2f35;
                            font-size: 13px;
                            font-weight: normal;
                            margin-right: 32px;
                        }
                        .num{
                            font-size: 22px;
                            font-weight: bold;
                            color: #017acd;
                        }
                    }
                }
                .item-hr{
                    width: 100%;
                    height: 1px;
                    background-color: #cdd1d8;
                    margin: 12px 0;
                }
                .item-hr2{
                    width: 100%;
                    height: 1px;
                    background-color: #cdd1d8;
                    margin: 8px 0;
                }
                .item-area-type2{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .room-type{
                        font-size: 13px;
                        color:#2c2f35;
                        .bold{
                            font-weight: bold;
                        }
                        .point-text1{
                            color: #fc6060;
                        }
                        .point-text2{
                            color: #52ace0;
                        }
                        .point-text3{
                            color: #16d2c3;
                        }
                        .point-text4{
                            color: #fc2020;
                        }
                        .point-text5{
                            color: #f8a659;
                        }
                    }
                    .time{
                        color: #7e7e7e;
                        font-size: 12px;
                    }
                }
                .item-area-type{
                    .item-section{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 13px;
                        color:#2c2f35;
                        .bold{
                            font-weight: bold;
                        }
                        .point-text1{
                            color: #fc6060;
                        }
                        .point-text2{
                            color: #52ace0;
                        }
                        .point-text3{
                            color: #16d2c3;
                        }
                        .point-text4{
                            color: #fc2020;
                        }
                        .point-text5{
                            color: #f8a659;
                        }
                    }
                }
            }
        }
    }
}
.room-total-cost{
    width: 100%;
    max-height: 80px;
    min-height: 80px;
    background-color: #304153;
    padding: 24px 36px;
    border-radius: 3px;
    .total-cost{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cost-name{
            font-size: 18px;
            color: #fff;
            line-height: 24px;
            align-items: center;
            display: flex;
            img{
                width: auto;
                height: auto;
                padding: 5px 10px 0 0;
            }
        }
        .cost-money{
            font-size: 26px;
            color: #ffcc00;
            font-weight: bold;
        }
    }
}

.room-form{
    height: 36px;
    width: 100%;
    background-color: #fc6060;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    
    .form-box{
        height: 22px;
        width: 66px;
        display: block;
        color: #2c2f35;
        background-color: #fff;
        border-radius: 16px;
        text-align: center;
        margin: 7px 0 7px 10px;
        font-size: 12px;
    }
    .carousel{
        position: relative;
        height: 36PX;
        width: 414;
        display: flex;
        align-items: center;
        .carousel-item{
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 30px;
           
            .case-box{
                border-radius: 3px;
                font-size: 13px;
                width: 46px;
                height: 22px;
                color: #fff;
                text-align: center;
                padding-top: 1px;

                &.type1{
                    background-color:#5c86f1;
                }
                &.type2{
                    background-color:#7868e5;
                }
                &.type3{
                    background-color:#3770bb;
                }
            }
            .check-in{
                font-size: 12px;
                margin-left: 10px;
                color: #fff;
                span{
                    margin-left: 8px;
                }
            }
            .check-out{
                font-size: 12px;
                margin-left: 16px;
                color: #fff;
                span{
                    margin-left: 8px;
                }
            }
            .check-cancel{
                background-color: #fff; 
                font-size: 11px;
                margin-left: 14px;
                height: 22px;
                width: 36px;
                color: #fc6060;
            }
        }
        .carousel-control{
            position: absolute;
            width: 400px;
            top: 10px;
            .left{
                position: absolute;
                left: 6px;
                width: 16px !important;
                height: 16px !important;
            }
            .right{
                position: absolute;
                right: 8px;
                width: 16px !important;
                height: 16px !important;
            }
        }

    }
    
}

.check-form{
    height: 36px;
    width: 100%;
    background-color: #304153;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-title{
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        margin-left: 10px;
    }
    .form-box{
        height: 22px;
        width: 66px;
        display: block;
        color: #2c2f35;
        background-color: #fff;
        border-radius: 16px;
        text-align: center;
        margin: 7px 0 7px 10px;
        font-size: 12px;
    }
    .form-text{
        font-size: 12px;
        color: #fff;
        margin-right: 10px;
    } 
}
.v-switch .v-selection-control {
    min-height: 24px !important;
}
.v-label {
    font-size: 12px !important;
}
.v-selection-control--density-default {
    --v-selection-control-size: 28px;
}
.total-box{
    display: flex;
    align-items: center;
    .box-type1{
        display: inline-block;
        border-radius: 3px;
        width: 32px;
        height: 20px;
        font-size: 12px;
        text-align: center;
        background-color: #5c86f1;
        margin-left: 8px;
        color: #fff;
    }
    .box-type2{
        display: inline-block;
        border-radius: 3px;
        width: 32px;
        height: 20px;
        font-size: 12px;
        text-align: center;
        background-color: #7868e5;
        margin-left: 8px;
        color: #fff;
    }
    .box-type3{
        display: inline-block;
        border-radius: 3px;
        width: 32px;
        height: 20px;
        font-size: 12px;
        text-align: center;
        background-color: #3770bb;
        margin-left: 8px;
        color: #fff;
    }

}




.v-container {
    &.roomBoard{
        padding: 0;
    }
}
.popup {
    &.theme-popup-dark {
        .v-card {
          .v-card-title {
            background-color: $g-darknavy;
            height: 60px;
            .title {
              color: #fff;
            }
          }
        }
      }
}
.room-btn-area{
    .v-btn__append {
       margin: 0 !important;
    }
    .v-btn__prepend {
        margin: 0 !important;
     }
}
.btn-status-change{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #d6dbe2;
    padding: 8px;
    
}
.check-btns {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 60px !important;
    .v-btn { 
      width: 12.5% !important;
      height: auto;
      font-size: 14px !important;
      font-weight: bold;
      color: #2c2f35 !important;
      background-color: #f9f9f9;
      border: 1px solid #bebfc0;
      &.v-btn--active {
        background-color: $g-secondary !important;
        color: #fff !important;
      }
    }
  }
.table-daypicker{
    position: relative;
    input{
        height: 28px;
    }
    .dp__outer_menu_wrap{
        position: fixed;
        top: 290px;
        z-index: 100;
    }
}
.div-daypicker{
    input{
        height: 28px !important;
    }
}
.bullet-text{
    display: block;
    position: relative;
    font-size: 12px;
    &::before{
        width: 4px;
        height: 4px;
        background: #fc6060; 
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 8px;
        content: "";
    }
}
.field-set .field-check-group{
    background-color: #fff;
    padding: 3px 10px 0;
    height: auto;
    border: 1px solid #d6dbe2;
    .check-group{
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        align-items: center;
        & > *{
            flex-grow: 0;
            margin-right: 12px;
        }
    } 
}
.table-check-group{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    & > *{
        flex-grow: 0;
    }
}
