@charset "utf-8";

// font
$sebang : 'sebang';
$sebangb : 'sebangb';
$noto : 'noto';
$notom : 'notom';
$notob : 'notob';

// color
$g-primary: #2680eb !default;
$g-secondary: #fc6060 !default;
$g-dark-navy: #304153 !default;