@charset "utf-8";

// font
$sebang : 'sebang';
$sebangb : 'sebangb';
$noto : 'noto';
$notom : 'notom';
$notob : 'notob';

// color
$g-primary: #2680eb !default;
$g-secondary: #fc6060 !default;
$g-white: #fff !default;
$g-black: #000 !default;
$g-darknavy: #304153 !default;
$g-grey: #5e7892 !default;
$g-lightgrey: #eff2f4 !default;
$g-darkgrey: #3c4d60 !default;
$g-deepgrey: #2c2f35 !default;
$g-red: #ec3838 !default;
$g-violet: #7868e5 !default;
$g-pink: #d45cf1 !default;
$g-yellow: #ff9100 !default;
$g-green: #5ec73f !default;
$g-lightblue: #5c86f1 !default;
$g-mint: #31b8c8 !default;
$g-aqua: #33b0df !default;
$g-navy: #3770bb !default;